.BGdark {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 450px;
  height: 370px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0px);
}

.modal:hover {
  transform: translateY(-10px);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.modal:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.modalHeader {
  /* height: 100px; */
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 30px 0 0 0;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.svgs circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ffffff;
  stroke-width: 12;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.num > h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.modal:hover .percent .num h2 {
  color: rgb(0, 0, 0);
  font-size: 60px;
}

.percent .num h2 span {
  color: #777;
  font-size: 24px;
  transition: 0.5s;
}

.percent,
.modalContent {
  width: 100%;
  height: 300px;
}

.modal:hover .percent .num h2 span {
  color: black;
}

.svgs circle:nth-child(2) {
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
}

.modal:nth-child(1) .svgs circle:nth-child(2) {
  stroke-dashoffset: calc(670 - (670 * var(--number-actual)) / 100);
  stroke: #00ff43;
}
